.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.languages {
  display: flex;
  align-items: center;
  z-index: 11;
}
ul.laguage-switch {
  padding: 5px 7px 5px 5px;
  margin-left: 16px;
  border: 1px solid black;
  background-color: white;
  border-radius: 11px;
  position: relative;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  &:hover {
    a {
      text-decoration: none;
    }
  }
}

.languages-switch {
  position: absolute;
  width: calc(100% + 2px);
  background: white;
  transform: translate(-1px, -1px);
  border: 1px solid black;
  padding-top: 3px;
  padding-bottom: 8px;
  border-radius: 0 0 10px 10px;
  border-top: none;
  left: 0;
  top: 14px;
  visibility: hidden;
  pointer-events: none;
}

.laguage-switch:hover .languages-switch {
  visibility: visible;
  pointer-events: inherit;
}

ul.laguage-switch a.language-switch-item {
  margin-top: 10px;
}

.flag-icon {
  position: relative;
  display: inline-block;
  width: 10px;
  line-height: 10px;
  border-radius: 100%;
  &:before {
    content: "\00a0";
  }
  &.flag-icon-squared {
    width: 1em;
  }
}

.flag-shortcode {
  font-size: 9px;
  line-height: 11px;
  text-decoration: none;
  color: black;
  margin-left: 6px;
}

@mixin flag-icon($country) {
  .flag-icon-#{$country} {
    background-image: url("/theme/assets/images/flags/1x1/#{$country}.svg");
    &.flag-icon-squared {
      background-image: url("/theme/assets/images/flags/1x1/#{$country}.svg");
    }
  }
}
