/* DEFAULT PAGE TRANITION */
.page-leave-active,
.page-enter-active,
.page-leave-active .transition,
.page-enter-active .transition {
    transition: transform 1s ease cubic-bezier(0.5,0.7,0.4,1);
}

/* Page in */
.page-leave .transition {
    transform: translateY(-100%);
}
.page-leave-to {
    transform: translateY(0);
}

/* Page out */
.page-enter .transition {
    transform: translateY(0);
}
.page-enter-to {
    transform: translateY(100%);
}

.transition {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    z-index: 1;
}