@mixin custom-ease($attribute: all, $speed: .8s, $timing: cubic-bezier(.43, .195, .02, 1)) {
	-webkit-transition: $attribute $speed $timing;
	-moz-transition: $attribute $speed $timing;
	-o-transition: $attribute $speed $timing;
	-ms-transition: $attribute $speed $timing;
	transition: $attribute $speed $timing;
}