.swiper-container-fade {
  &.swiper-container-free-mode {
    .swiper-slide {
      transition-timing-function: ease-out;
    }
  }
  .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
    opacity: 0!important;

    .word {
      span {
        transition-delay: 0s!important;
      }
    }

    h2{
      p{
        opacity: 0;
        transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1)
      }
    }

    &.swiper-slide-active{
      opacity: 1!important;
      h2{
        p{
          opacity: 1;
          transition-delay: .8s
        }
        .word span {
          transform: translateY(0);
          opacity: 1;
        }
        .word {
            &:nth-child(1) > span {
                transition-delay: .6s!important;
            }
            &:nth-child(2) > span {
                transition-delay: .7s!important;
            }
            &:nth-child(3) > span {
                transition-delay: .8s!important;
            }
            &:nth-child(4) > span {
                transition-delay: .9s!important;
            }
            &:nth-child(5) > span {
                transition-delay: 1s!important;
            }
            &:nth-child(6) > span {
                transition-delay: 1.1s!important;
            }
            &:nth-child(7) > span {
                transition-delay: 1.2s!important;
            }
            &:nth-child(8) > span {
                transition-delay: 1.3s!important;
            }
            &:nth-child(9) > span {
                transition-delay: 1.4s!important;
            }
            &:nth-child(10) > span {
                transition-delay: 1.5s!important;
            }
            &:nth-child(11) > span {
                transition-delay: 1.6s!important;
            }
            &:nth-child(12) > span {
                transition-delay: 1.7s!important;
            }
            &:nth-child(13) > span {
                transition-delay: 1.8s!important;
            }
            &:nth-child(14) > span {
                transition-delay: 1.9s!important;
            }
            &:nth-child(15) > span {
                transition-delay: 2s!important;
            }
            &:nth-child(16) > span {
                transition-delay: 2.1s!important;
            }
            &:nth-child(17) > span {
                transition-delay: 2.2s!important;
            }
            &:nth-child(18) > span {
                transition-delay: 2.3s!important;
            }
            &:nth-child(19) > span {
                transition-delay: 2.4s!important;
            }
            &:nth-child(20) > span {
                transition-delay: 2.5s!important;
            }
        }
      
      }
    }
    // &.swiper-slide {
    //   .word {
    //     span {
    //       transition-delay: 0s!important;
    //     }
    //   }
    // }
    .swiper-slide {
      pointer-events: none;
    }
  }
  .swiper-slide-active {
    &, & .swiper-slide-active {
      pointer-events: auto;
    }
  }
}
